<h2>Catalog!</h2>

<div ng-repeat="product in catalog.catalogItems" class="row">
    <div class="col-xs-2">
        <a href="#" class="thumbnail">
            <img ng-src="{{product.url}}"/>
        </a>

    </div>
    <div class="col-xs-4">
        <h5>{{product.name}}</h5>

        <p>Category: {{product.category}}</p>

        <p>Price: {{product.price}}</p>
    </div>
    <div className="col-xs-2">
        <p>
            <button ng-click="catalog.addProduct(product)" class="btn">Buy!</button>
        </p>
    </div>
</div>