<html ng-app="app">
  <body>
    <div ng-controller="MainController">
      {{ mydata }}
    </div>

    <script src="angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
