<div class="main-container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="col-sm-7" style={{marginTop: 15}}>
            <ul class="nav navbar-nav">
                <li><a ui-sref="catalog">Catalog</a></li>
                <li><a ui-sref="cart">Cart</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <ui-view/>
    </div>
</div>